<h1>All posts</h1>
    <% @posts.each do |post| %>
        <% if user_signed_in? %>
            <p>Posted by <%= post.user.name %></p>
        <% end %>
        <p><%= post.title %></p>
        <p><%= post.body %></p>
    <% end %>
