<h1 class="m-5 text-center w-100 text-light">All posts</h1>
<div class="col-md-6">
    <% @posts.each do |post| %>
        <div class="card bg-light border-rounded border-info my-4">
            <div class="card-title m-2 text-center">
                <p class="card-title font-weight-bold"><%= post.title %></p>
            </div>
            <div class="card-body">
                <p class="card-text"><%= post.body %></p>
            </div>
            <% if user_signed_in? %>
            <footer class="card-footer d-flex justify-content-end m-0 bg-info text-light">
                <small>Posted by: 
                    <% if current_user.id == post.user.id %>
                        <span class="font-weight-bold">You</span>
                    <% else %>
                        <span class="font-weight-bold"><%= post.user.name %></span>
                    <% end %>
                </small>
            </footer>
            <% end %>
        </div>
    <% end %>
</div>
